.banner {
    padding: 329px 0 453px 0;
    color: var(--color1);
    &__title {
        margin: 0 auto 41px;
        font-size: 2.9rem;
        line-height: 54px;
        font-weight: 300;
    }
    &__txt {
        text-transform: uppercase;
        position: relative;
        &::after {
            content: '';
            background-image: url('../icons/arrow-right.svg');
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            right: calc(50% - 105px);
            top: 0;
        }
        &::before {
            content: '';
            height: 1px;
            width: 120px;
            background-color: var(--color1);
            position: absolute;
            top: -20px;
            left: calc(50% - 50px);
        }
        &:hover {
            &::after {
                background-image: url('../icons/arrow-right-hover.svg');
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                right: calc(50% - 105px);
                top: 0;
            }
        }
    }
}
