.category-slide {
    overflow: hidden;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 15px;
    }
    &:hover .category-slide__text {
        transform: translateY(90%);
    }
    &__image-box {
        position: relative;
        overflow: hidden;
    }
    &__image {
        img {
            max-width: 273.75px;
            max-height: 450px;
            object-fit: cover;
            object-position: top;
        }
    }
    &__text {
        color: var(--color1);
        font-size: 1.25rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 10px;
        background: rgba(224, 190, 162, 0.75);
        transform: translateY(100%);
        transition: all .3s;
    }
}