.catalog {
    padding-bottom: 100px;
    &__columns {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1350px) {
    .catalog {
        &__wrapper {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .catalog {
        &__columns {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1050px) {
    .catalog {
        &__wrapper {
            padding: 0 20px;
        }
    }
}

