.categories {
    padding: 89px 0 111px;
    &__heading {
        margin-bottom: 50px;
        font-size: 2.2rem;
        color: var(--color4);
        font-weight: 300;
        text-align: left;
    }
}