.filters {
    display: flex;
    padding-bottom: 30px;
    &__inner {
        display: flex;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__button {
        display: flex;
        cursor: pointer;
        height: 20px;
        padding: 0 5px;
    }
    &__size {
        position: relative;
        &:hover {
            .filters__size-content {
                display: block;
            }
            .filters__size-icon {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        top: 20px;
        padding: 10px;
    }
    &__size-icon {
        transition: all 0.5s;
    }
    &__size-content {
        background-color: var(--color1);
        display: none;
        position: absolute;
        top: 20px;
        min-width: 85px;
        z-index: 1;
        border-radius: 10px;
        border: 1px solid var(--color3);
    }
    &__size-item {
        display: block;
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid var(--color3);
        }
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    
    &__price {
        position: relative;
        &:hover {
            .filters__price-content {
                display: block;
            }
            .filters__price-icon {
                transform: rotate(180deg);
            }
        }
    }
    &__price-icon {
        transition: all 0.5s;
    }
    &__price-content {
        background-color: var(--color1);
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        border: 1px solid var(--color3);
        border-radius: 5px;
    }
    &__price-item {
        display: block;
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid var(--color3);
        }
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &__colors {
        position: relative;
        &:hover {
            .filters__colors-content {
                display: block;
            }
            .filters__colors-icon {
                transform: rotate(180deg);
            }
        }
    }
    &__colors-icon {
        transition: all 0.5s;
    }
    &__colors-content {
        background-color: var(--color1);
        display: none;
        position: absolute;
        min-width: 120px;
        z-index: 1;
        border: 1px solid var(--color3);
        border-radius: 5px;
    }
    &__colors-item {
        display: block;
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid var(--color3);
        }
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}
