.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    &__heading {
        margin-bottom: 50px;
        font-size: 2.25rem;
        font-weight: 300;
        color: var(--color4);
    }
    &__text-entry {
        margin-bottom: 20px;
        height: 50px;
        text-align: center;
        color: var(--color4);
        font-weight: 200;
        border: 0.5px solid var(--color4);
        &:focus {
            outline-color: var(--color3);
        }
    }
    &__text {
        color: var(--color4);
    }
}
