.header {
    padding: 24px 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__nav-list {
        display: flex;
    }
    &__nav-item {
        list-style: none;
        font-size: 1.15rem;
    }
    &__nav-item:not(:last-child) {
        margin-right: 25px;
    }
    &__dropdown {
        display: flex;
        color: var(--color1);
    }
    &__user-nav {
        display: flex;
        justify-content: space-around;
    }
    &__user-item {
        cursor: pointer;
        display: flex;
        position: relative;
        &--search {
            margin-right: 30px;
            display: flex;
            &:hover {
                cursor: pointer;
                .header__user-search {
                    display: block;                    
                }
            }
        }
    }
    &__user-item:not(:last-child) {
        margin-right: 30px;
    }
    &__user-search { 
        position: absolute;
        display: none;
        max-width: 200px;
        top: 35px;
        right: 290px;
        height: 30px;   
        border-radius: 20px;
        border: 0.5px solid var(--color4);
        padding-left: 20px;
        transform: translatex(-50px);
        transition: all;
        &:focus {
            outline-color: var(--color3);
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 24px 50px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        padding: 24px 20px;
    }
}

