.header {
    padding: 24px 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__nav-list {
        display: flex;
    }
    &__nav-item {
        list-style: none;
        font-size: 1.15rem;
    }
    &__nav-item:not(:last-child) {
        margin-right: 25px;
    }
    &__dropdown {
        display: flex;
        color: var(--color1);
    }
    &__user-nav {
        display: flex;
        justify-content: space-around;
    }
    &__user-item:not(:last-child) {
        margin-right: 30px;
    }
}

