.sidebar {
    text-align: left;
    &__heading {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    &__items {
        display: flex;
        flex-direction: column;
    }
    &__item {
        color: var(--color4);
        padding: 10px 0;
        cursor: pointer;
        &:hover {
            background-color: rgb(253, 251, 245);
        }
    }
}