.sidebar {
    text-align: left;
    &__heading {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    &__items {
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-bottom: 20px;
        color: var(--color4);
        cursor: pointer;
    }
}